In [1]:
# create a dataframe  which contain only integer with 3 rows and 2 col
# Run the following cammand
# df.description
# df.max
# df.min
# df.mean
# df.median
# df.corr
# df.count
# df.std

In [3]:
import pandas as pd
import numpy as np

In [16]:
a = np.arange(6).reshape((3,2))

In [17]:
a

array([[0, 1],
       [2, 3],
       [4, 5]])

In [18]:
df=pd.DataFrame(a)

In [19]:
df

   0  1
0  0  1
1  2  3
2  4  5

In [37]:
df.mean()

0    2.0
1    3.0
dtype: float64

In [36]:
df.max()

0    4
1    5
dtype: int32

In [35]:
df.min()

0    0
1    1
dtype: int32

In [29]:
df.corr()

     0    1
0  1.0  1.0
1  1.0  1.0

In [38]:
df.median()

0    2.0
1    3.0
dtype: float64

In [39]:
df.std()

0    2.0
1    2.0
dtype: float64

In [42]:
df.count()

0    3
1    3
dtype: int64