In [1]:
# Q1 Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [2]:
import pandas as pd
import numpy as np

In [3]:
df1 = pd.Series([2, 4, 6, 8, 10])
df1

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [4]:
df2 = pd.Series([1, 3, 5, 7, 9])
df2

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [5]:
np.add(df1,df2)

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [6]:
np.subtract(df1,df2)

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [7]:
np.multiply(df1,df2)

0     2
1    12
2    30
3    56
4    90
dtype: int64

In [8]:
np.divide(df1,df2)

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [9]:
# Q2 Write a Pandas program to compare the elements of the two Pandas Series.

In [10]:
print(df1 == df2)
print("equal")

0    False
1    False
2    False
3    False
4    False
dtype: bool
equal

In [11]:
print(df1 <= df2)
print("equal")

0    False
1    False
2    False
3    False
4    False
dtype: bool
equal

In [12]:
print(df1 >= df2)
print("equal")

0    True
1    True
2    True
3    True
4    True
dtype: bool
equal

In [13]:
# Q3 Write a Pandas program to convert a dictionary to a Pandas series

In [14]:
d = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [15]:
df = pd.Series(d)

In [16]:
df

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [17]:
# Q4 Write a Pandas program to convert a NumPy array to a Pandas series.

In [18]:
np_array = np.array([10, 20, 30, 40, 50])

In [19]:
S = pd.Series(np_array)
S

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [20]:
# Q5 Write a Pandas program to change the data type of given a column or a Series.

In [21]:
a = ["a","b","c","d"]

In [22]:
a

['a', 'b', 'c', 'd']

In [23]:
df = pd.to_numeric(a,errors='coerce')
df

array([nan, nan, nan, nan])

In [24]:
# Q6 Write a Pandas program to convert the first column of a DataFrame as a Series.

In [25]:
a = np.arange(15).reshape(5,3)
df = pd.DataFrame(a,columns=["a","b","c"])
df

    a   b   c
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14

In [26]:
df.iloc[:,0]

0     0
1     3
2     6
3     9
4    12
Name: a, dtype: int32

In [27]:
# Q7 Write a Pandas program to add some data to an existing Series.
# Data Series after adding some data:
# 0       100
# 1       200
# 2    python
# 3    300.12
# 4       400
# 5       500
# 6       php
# dtype: object

In [28]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])
s

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [29]:
s[5] = 500
s[6] = "php"
s

0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

In [30]:
# Q8  Write a Pandas program to create the mean and standard deviation of the data of a given Series.
# Sample Output:
# Original Data Series:
# 0     1
# 1     2
# 2     3
# ....
# 7     8
# 8     9
# 9     5
# 10    3
# dtype: int64
# Mean of the said Data Series:
# 4.818181818181818
# Standard deviation of the said Data Series:
# 2.4052284646041735

In [31]:
s = pd.Series(data = [1,2,3,4,5,6,7,8,9,5,3])
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64

In [32]:
np.mean(s)

4.818181818181818

In [33]:
np.std(s)

2.4052284646041735

In [34]:
# Q9 Write a Pandas program to convert a given Series to an array.

In [35]:
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64

In [36]:
s.shape

(11,)