In [1]:
# Write a Pandas program to create a dataframe from a dictionary and display it.
# Sample data: {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}

In [4]:
df = pd.DataFrame(data)
df

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [5]:
#Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.
# Sample Python dictionary data and list labels:
# exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
# 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
# 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
# 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
# labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [6]:
# Expected Output:
#    attempts       name qualify  score                              
# a         1  Anastasia     yes   12.5                                 
# b         3       Dima      no    9.0                                 
# ....                              
# i         2      Kevin      no    8.0                                
# j         1      Jonas     yes   19.0

In [7]:
exam_data = {"attempts": [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
"qualify" : ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
"score ": [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19]}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [8]:
df = pd.DataFrame(exam_data , index = labels)
df.head()

   attempts       name qualify  score
a         1  Anastasia     yes    12.5
b         3       Dima      no     9.0
c         2  Katherine     yes    16.5
d         3      James      no     NaN
e         2      Emily      no     9.0

In [9]:
# Write a Pandas program to display a summary of the basic information about a specified DataFrame and its data.

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   attempts  10 non-null     int64
 1   name      10 non-null     object
 2   qualify   10 non-null     object
 3   score     8 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

In [11]:
# Write a Pandas program to get the first 3 rows of a given DataFrame.

In [12]:
df.iloc[0:3]

   attempts       name qualify  score
a         1  Anastasia     yes    12.5
b         3       Dima      no     9.0
c         2  Katherine     yes    16.5